:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --slider-bg: #ED4C5C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    min-width: 20rem;
    max-width: 66.875rem;
    width: 100%;
    margin: 0 auto;
}
